@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Summer Academy</h1>
    <p class="lead col-md-offset-4">Building the Next world super stars Today.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
           We set you on the right path on Preparing For SATs, TOEFLs, GRAs and More international exams.
        </p>
        <p><a class="btn btn-default" href="https://www.open-dreams.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Involved In Serving </h2>
        <p>With much eagerness and curiosity, Find out what it means to serve and in turn serve yourself. Meet beautiful premises,people and more </p>
        <p><a class="btn btn-default" href="https://www.open-dreams.org/mentors">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Community</h2>
        <p>Find a Family outside your biological one. Learn how to care and enjoy being cared for</p>
        <p><a class="btn btn-default" href="https://www.open-dreams.org/students">Learn more &raquo;</a></p>
    </div>
</div>